{% extends 'base.html' %}

{% block head %}
<title>About us | SocialChitra</title>
    <style>
    li{
        margin-bottom: 5px;
    }

    .description{
        position: absolute;
        left: 10px; 
        padding: 5px;
        }
    .description:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }

    .description:before{
         box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
    }

    .description{
        background: inherit;
    }
    .description:before{
        background: inherit;
    }
    .team-photo{
        position: relative;
    }
    </style>
{% endblock %}

{% block body %}
        <!-- ***** Breadcrumb Area Start ***** -->
        <section class="section breadcrumb-area overlay-dark d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breamcrumb Content -->
                        <div class="breadcrumb-content d-flex flex-column align-items-center text-center">
                            <h2 class="text-white text-uppercase mb-3">About Us</h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-uppercase text-white" href="{% url 'home' %}">Home</a></li>
{#                                <li class="breadcrumb-item"><a class="text-uppercase text-white" href="#">Pages</a></li>#}
                                <li class="breadcrumb-item text-white active">About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcrumb Area End ***** -->
{% load static %}
        <!-- ***** About Area Start ***** -->
        <section class="section about-area ptb_100">
            <div class="container">
                <div class="row">

                                        <!-- ***** Dancing vectors ***** -->
                     <div class="col-sm-12 col-md-4 col-lg-4">
                        <!-- Welcome Thumb -->
                        <div class="welcome-thumb-wrapper mt-5 mt-md-0 container-sm">
                            <span class="welcome-thumb-1">
                                <img class="welcome-animation d-block ml-auto" style="width:80%" src="{% static 'img/logo/Asset 5@4x.png' %}" alt="">
                            </span>

                            <span class="welcome-thumb-4">
                                <img class="welcome-animation d-block" style="width:30%;float:right;" src="{% static 'img/logo/Asset 6@4x.png' %}" alt="">
                            </span>

                        </div>
                    </div>
                    <!-- ***** Dancing vectors end ***** -->

                    <div class="col-sm-12 col-lg-8 col-md-8">
                        <!-- About Content -->
                        <div class="about-content section-heading text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                            <h2 class="mb-3">We’re Your Partner in Your Success</h2>
                            <p style="font-size: 18px;">We are bunch of Social Chitrakaars helping you to lead in the Digital world. </p><br>
                            <p style="font-size: 18px;">We give you integrated solutions and ideas at one place. In short we are your one stop solution. We make you buzz and trend, with our creative and strategic ideas.</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- ***** Content Area Start ***** -->
        <section class="section content-area bg-white ptb_120">
            <!-- Shape Top -->

            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12">
                        <!-- Content Inner -->
                        <div class="content-inner text-center">
                            <!-- Section Heading -->
                            <div class="section-heading text-center mb-10">
                                
                                <h2>Why us?</h2>
                                <!-- <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                                <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
                            </div>
                            <!-- Content List -->
                            <ul class="row content-list text-left">
                                {% for x in why_us %}
                                    {% if not x.hide %}
                                        <li class="col-md-6 col-sm-12 single-content-list media py-2">
                                            <div class="content-icon pr-4">
                                                <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                                            </div>
                                            <div class="content-text media-body">
                                                <span>{{x.content}}</span>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- Service Thumb -->
                        <div class="service-thumb mx-auto pt-4 pt-lg-0">
                            <img src="assets/img/content/content_thumb.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shape Bottom -->
            
        </section>
        <!-- ***** Content Area End ***** -->


        <!-- ***** Team Area Start ***** -->
        <section class="section team-area bg-grey ptb_100">
            <!-- Shape Top -->
            <div class="shape shape-top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" fill="#FFFFFF">
                    <path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
                c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
                c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
                </svg>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Meet our Team</h2>
                            {% comment %} <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                            <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Team -->
                        <div class="single-team">
                            <!-- Team Photo -->
                            <div class="team-photo">
                                <img src="{% static 'img/team/thumb_1.jpg' %}">
                                <div class="description">fwffdfdkf re ffrfe</div>
                            </div>
                            <!-- Team Content -->
                            <div class="team-content p-3">
                                <a href="#">
                                    <h3 class="mb-2">Junaid Hasan</h3>
                                </a>
                                <h5 class="text-uppercase">Marketing Officer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Team -->
                        <div class="single-team">
                            <!-- Team Photo -->
                            <div class="team-photo">
                                <a href="#"><img src="{% static 'img/team/thumb_2.jpg' %}" alt=""></a>
                            </div>
                            <!-- Team Content -->
                            <div class="team-content p-3">
                                <a href="#">
                                    <h3 class="mb-2">Yasmin Akter</h3>
                                </a>
                                <h5 class="text-uppercase">SEO Expert</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Team -->
                        <div class="single-team">
                            <!-- Team Photo -->
                            <div class="team-photo">
                                <a href="#"><img src="assets/img/team/thumb_3.jpg" alt=""></a>
                            </div>
                            <!-- Team Content -->
                            <div class="team-content p-3">
                                <a href="#">
                                    <h3 class="mb-2">Md. Arham</h3>
                                </a>
                                <h5 class="text-uppercase">Media Controller</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Team -->
                        <div class="single-team">
                            <!-- Team Photo -->
                            <div class="team-photo">
                                <a href="#"><img src="assets/img/team/thumb_4.jpg" alt=""></a>
                            </div>
                            <!-- Team Content -->
                            <div class="team-content p-3">
                                <a href="#">
                                    <h3 class="mb-2">Jassica William</h3>
                                </a>
                                <h5 class="text-uppercase">Data Analyst</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Team -->
                        <div class="single-team">
                            <!-- Team Photo -->
                            <div class="team-photo">
                                <a href="#"><img src="assets/img/team/thumb_5.jpg" alt=""></a>
                            </div>
                            <!-- Team Content -->
                            <div class="team-content p-3">
                                <a href="#">
                                    <h3 class="mb-2">John Doe</h3>
                                </a>
                                <h5 class="text-uppercase">Web Developer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Team -->
                        <div class="single-team">
                            <!-- Team Photo -->
                            <div class="team-photo">
                                <a href="#"><img src="assets/img/team/thumb_6.jpg" alt=""></a>
                            </div>
                            <!-- Team Content -->
                            <div class="team-content p-3">
                                <a href="#">
                                    <h3 class="mb-2">Sara Scotch</h3>
                                </a>
                                <h5 class="text-uppercase">Graphic Designer</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shape Bottom -->
            <div class="shape shape-bottom">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" fill="#FFFFFF">
                    <path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
                </svg>
            </div>
        </section>
        <!-- ***** Team Area End ***** -->

        <!--====== Call To Action Area Start ======-->
        {% include 'call-to-action.html' %}
        <!--====== Call To Action Area End ======-->

{% endblock %}
