{% extends 'base.html' %}

{% block head %}
    <title>Services | SocialChirtra</title>
{% endblock %}
{% block body %}

        <!-- ***** Breadcrumb Area Start ***** -->
        <section class="section breadcrumb-area overlay-dark d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breamcrumb Content -->
                        <div class="breadcrumb-content text-center">
                            <h2 class="text-white text-uppercase mb-3">What we offer</h2>
                            <ol class="breadcrumb d-flex justify-content-center">
                                <li class="breadcrumb-item"><a class="text-uppercase text-white" href="{% url 'home' %}">Home</a></li>
{#                                <li class="breadcrumb-item"><a class="text-uppercase text-white" href="#">Services</a></li>#}
                                <li class="breadcrumb-item text-white active">Our Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcrumb Area End ***** -->
{% load static %}

    {% for service in services %}
         {% if forloop.counter|divisibleby:"2" %}
    <!-- ***** EVEN ***** -->
        <section class="section about-area ptb_50">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- About Thumb -->
                        <div class="about-thumb text-center">
                            <img src="{{ service.photo.url }}" style="max-height:40vh" alt="{{service.title}}">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- About Content -->
                        <div class="about-content section-heading text-center text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                            <h2 class="mb-3">{{service.title}}</h2>
                            <p>
                            {{ service.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {% else %}
        <!-- ***** ODD ***** -->
        <section class="section our-goal ptb_50">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- Goal Content -->
                        <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0">
                            <h2 class="mb-3">{{service.title}}</h2>
                            <p>
                            {{ service.content }}
                            </p>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- Goal Thumb -->
                        <div class="goal-thumb mt-5 mt-lg-0">
                            <img src="{{ service.photo.url }}" style="max-height:40vh;" alt="{{service.title}}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {% endif %}
    {% endfor %}
        <!--====== Call To Action Area Start ======-->
        {% include 'call-to-action.html' %}
        <!--====== Call To Action Area End ======-->

{% endblock %}
