{% extends 'base.html' %}

{% block head %}
    <title>Services | SocialChirtra</title>
{% endblock %}
{% block body %}

        <!-- ***** Breadcrumb Area Start ***** -->
        <section class="section breadcrumb-area overlay-dark d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breamcrumb Content -->
                        <div class="breadcrumb-content text-center">
                            <h2 class="text-white text-uppercase mb-3">What we offer</h2>
                            <ol class="breadcrumb d-flex justify-content-center">
                                <li class="breadcrumb-item"><a class="text-uppercase text-white" href="{% url 'home' %}">Home</a></li>
{#                                <li class="breadcrumb-item"><a class="text-uppercase text-white" href="#">Services</a></li>#}
                                <li class="breadcrumb-item text-white active">Our Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcrumb Area End ***** -->
{% load static %}

    <!-- ***** Digital Marketing Area Start ***** -->
        <section class="section about-area ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- About Thumb -->
                        <div class="about-thumb text-center">
                            <img src="{% static 'img/services/services4.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- About Content -->
                        <div class="about-content section-heading text-center text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                            <h2 class="mb-3">Digital Marketing</h2>
                            <p>We are here to make your way in the new world. At Social Chitra we build you as a brand. We have plans to lead, an idea to engage and content to build weight. </p><br>
                            <p>We as Social Chitrakaars believe in authenticity, so bring out best of the ideas and strategies to build your brand with proper market study. From Brand Consulting to Campaign Planning, Consumer and Product research we do all. We back you with strategic planning and give you effective results with Reports.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Digital Marketing Area End ***** -->

        <!-- ***** Web Development Area Start ***** -->
        <section class="section our-goal ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- Goal Content -->
                        <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0">
                            <h2 class="mb-3">Web Development</h2>
                            <p>We design what you wish and innovation needs. We at Social Chitra make your presence worldwide and effective.</p><br>
                            <p>Our team of web creators are well skilled with today’s techno world and design as per customer needs. The innovation and design go hand in hand at Social Chitra.  We innovate, design and present.</p>
{#                            <a href="#" class="btn btn-bordered mt-4">Read More</a>#}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- Goal Thumb -->
                        <div class="goal-thumb mt-5 mt-lg-0">
                            <img src="{% static 'img/services/services2_1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Web development Area End ***** -->

        <!-- ***** SEO Area Start ***** -->
        <section class="section about-area ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- About Thumb -->
                        <div class="about-thumb text-center">
                            <img src="{% static 'img/services/services6.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- About Content -->
                        <div class="about-content section-heading text-center text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                            <h2 class="mb-3">Digital content & SEO</h2>
                            <p>We develop content to make you visible. At Social Chitra our Content creators analyse the trend and curate the best of the engaging content, which helps you to optimize and make you stand out of the crowd. </p><br>
                            <p>From Social media, to blogs, PR marketing and web content we offer all kinds of content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** SEO Area End ***** -->

        <!-- ***** media planning Area Start ***** -->
        <section class="section our-goal ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- Goal Content -->
                        <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0">
                            <h2 class="mb-3">Media Planning & buying</h2>
                            <p>We promote you to make your individual presence in the world. </p><br>
                            <p>We at Social Chitra build up and make your social presence effective, through online and offline strategies and plans. We make you reach to your ideal audience through Paid Promotions, PPC and E-mail marketing.</p>
{#                            <a href="#" class="btn btn-bordered mt-4">Read More</a>#}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- Goal Thumb -->
                        <div class="goal-thumb mt-5 mt-lg-0">
                            <img src="{% static 'img/services/services1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** media planning Area End ***** -->

        <!-- ***** reputition mgmt Area Start ***** -->
        <section class="section about-area ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- About Thumb -->
                        <div class="about-thumb text-center">
                            <img src="{% static 'img/services/services7.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- About Content -->
                        <div class="about-content section-heading text-center text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                            <h2 class="mb-3">Online Reputation management</h2>
                            <p>We maintain your brand’s identity. We at Social Chitra manage the reputation of our clients.</p><br>
                            <p>We help them in every way to flourish there brand. In Online Reputation Management we handle the queries, postings and do complete customer service on client’s page and websites.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** reputition mgmt Area End ***** -->

            <!-- ***** video production Area Start ***** -->
        <section class="section our-goal ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- Goal Content -->
                        <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0">
                            <h2 class="mb-3">Video production, photography</h2>
                            <p>We shoot and portray to make you unique. </p><br>
                            <p>Our Social Chitra team comprise of Videographers, Photographers, Editors, Directors and Animators who come up together to build some great video and sensational buzzing content.</p>
{#                            <a href="#" class="btn btn-bordered mt-4">Read More</a>#}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- Goal Thumb -->
                        <div class="goal-thumb mt-5 mt-lg-0">
                            <img src="{% static 'img/services/services5.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** video production Area End ***** -->

{#        <!-- ***** video production Area Start ***** -->#}
{#        <section class="section our-goal ptb_100">#}
{#            <div class="container">#}
{#                <div class="row justify-content-between align-items-center">#}
{#                    <div class="col-12 col-lg-6">#}
{#                        <!-- Goal Content -->#}
{#                        <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0">#}
{#                            <h2 class="mb-3">Video production and photography</h2>#}
{#                            <p>We shoot and portray to make you unique. </p><br>#}
{#                            <p>Our Social Chitra team comprise of Videographers, Photographers, Editors, Directors and Animators who come up together to build some great video and sensational buzzing content.</p>#}
{#                            <a href="#" class="btn btn-bordered mt-4">Read More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-lg-6">#}
{#                        <!-- Goal Thumb -->#}
{#                        <div class="goal-thumb mt-5 mt-lg-0">#}
{#                            <img src="{% static 'img/about/about_thumb_2.jpg' %}" alt="">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <!-- ***** video production Area End ***** -->#}

            <!-- ***** reputition mgmt Area Start ***** -->
        <section class="section about-area ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- About Thumb -->
                        <div class="about-thumb text-center">
                            <img src="{% static 'img/services/services3.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- About Content -->
                        <div class="about-content section-heading text-center text-lg-left pl-md-4 mt-5 mt-lg-0 mb-0">
                            <h2 class="mb-3">Graphic designing</h2>
                            <p>We design to attract. At Social Chitra we have best designers to enhance your Social Charitr, </p><br>
                            <p>who portray their creativity to meet your right audience. To communicate, engage and off course lead. We create to appeal and entice.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** reputition mgmt Area End ***** -->



{#        <!-- ***** Service Area End ***** -->#}
{#        <section id="service" class="section service-area ptb_150">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-12 col-md-6 col-lg-4">#}
{#                        <!-- Single Service -->#}
{#                        <div class="single-service text-center p-4">#}
{#                            <span class="flaticon-rocket-launch color-1 icon-bg-1"></span>#}
{#                            <h3 class="my-3">Data Analytics</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p>#}
{#                            <a class="service-btn mt-3" href="#">Learn More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-md-6 col-lg-4">#}
{#                        <!-- Single Service -->#}
{#                        <div class="single-service text-center p-4">#}
{#                            <span class="flaticon-monitoring color-2 icon-bg-2"></span>#}
{#                            <h3 class="my-3">Website Growth</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p>#}
{#                            <a class="service-btn mt-3" href="#">Learn More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-md-6 col-lg-4">#}
{#                        <!-- Single Service -->#}
{#                        <div class="single-service text-center p-4">#}
{#                            <span class="flaticon-web color-3 icon-bg-3"></span>#}
{#                            <h3 class="my-3">Seo Ranking</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p>#}
{#                            <a class="service-btn mt-3" href="#">Learn More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-md-6 col-lg-4">#}
{#                        <!-- Single Service -->#}
{#                        <div class="single-service text-center p-4">#}
{#                            <span class="flaticon-smartphone color-4 icon-bg-4"></span>#}
{#                            <h3 class="my-3">App Development</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p>#}
{#                            <a class="service-btn mt-3" href="#">Learn More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-md-6 col-lg-4">#}
{#                        <!-- Single Service -->#}
{#                        <div class="single-service text-center p-4">#}
{#                            <span class="flaticon-email color-5 icon-bg-5"></span>#}
{#                            <h3 class="my-3">Email Marketing</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p>#}
{#                            <a class="service-btn mt-3" href="#">Learn More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-md-6 col-lg-4">#}
{#                        <!-- Single Service -->#}
{#                        <div class="single-service text-center p-4">#}
{#                            <span class="flaticon-affiliate color-6 icon-bg-6"></span>#}
{#                            <h3 class="my-3">Affiliate Marketing</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p>#}
{#                            <a class="service-btn mt-3" href="#">Learn More</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <!-- ***** Service Area End ***** -->#}

{#        <!-- ***** Review Area Start ***** -->#}
{#        <section id="review" class="section review-area bg-overlay ptb_100">#}
{#            <div class="container">#}
{#                <div class="row justify-content-center">#}
{#                    <div class="col-12 col-md-10 col-lg-7">#}
{#                        <!-- Section Heading -->#}
{#                        <div class="section-heading text-center">#}
{#                            <h2 class="text-white">Our clients says</h2>#}
{#                            <p class="text-white d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>#}
{#                            <p class="text-white d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-12 col-md-6 col-lg-4 res-margin">#}
{#                        <!-- Single Review -->#}
{#                        <div class="single-review bg-white p-5">#}
{#                            <!-- Review Content -->#}
{#                            <div class="review-content">#}
{#                                <!-- Review Text -->#}
{#                                <div class="review-text">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam est modi amet error earum aperiam, fuga labore facere rem ab nemo possimus cum excepturi expedita. Culpa rerum, quaerat qui non.</p>#}
{#                                </div>#}
{#                                <!-- Quotation Icon -->#}
{#                                <div class="quot-icon">#}
{#                                    <img class="avatar-sm" src="assets/img/quote.png" alt="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- Reviewer -->#}
{#                            <div class="reviewer media mt-3">#}
{#                                <!-- Reviewer Thumb -->#}
{#                                <div class="reviewer-thumb">#}
{#                                    <img class="avatar-lg radius-100" src="assets/img/avatar/avatar-1.png" alt="">#}
{#                                </div>#}
{#                                <!-- Reviewer Media -->#}
{#                                <div class="reviewer-meta media-body align-self-center ml-4">#}
{#                                    <h5 class="reviewer-name color-primary mb-2">Junaid Hasan</h5>#}
{#                                    <h6 class="text-secondary fw-6">CEO, Themeland</h6>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-md-6 col-lg-4 res-margin">#}
{#                        <!-- Single Review -->#}
{#                        <div class="single-review bg-white p-5">#}
{#                            <!-- Review Content -->#}
{#                            <div class="review-content">#}
{#                                <!-- Review Text -->#}
{#                                <div class="review-text">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam est modi amet error earum aperiam, fuga labore facere rem ab nemo possimus cum excepturi expedita. Culpa rerum, quaerat qui non.</p>#}
{#                                </div>#}
{#                                <!-- Quotation Icon -->#}
{#                                <div class="quot-icon">#}
{#                                    <img class="avatar-sm" src="assets/img/quote.png" alt="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- Reviewer -->#}
{#                            <div class="reviewer media mt-3">#}
{#                                <!-- Reviewer Thumb -->#}
{#                                <div class="reviewer-thumb">#}
{#                                    <img class="avatar-lg radius-100" src="assets/img/avatar/avatar-2.png" alt="">#}
{#                                </div>#}
{#                                <!-- Reviewer Media -->#}
{#                                <div class="reviewer-meta media-body align-self-center ml-4">#}
{#                                    <h5 class="reviewer-name color-primary mb-2">Yasmin Akter</h5>#}
{#                                    <h6 class="text-secondary fw-6">Founder, Themeland</h6>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-md-6 col-lg-4">#}
{#                        <!-- Single Review -->#}
{#                        <div class="single-review bg-white p-5">#}
{#                            <!-- Review Content -->#}
{#                            <div class="review-content">#}
{#                                <!-- Review Text -->#}
{#                                <div class="review-text">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam est modi amet error earum aperiam, fuga labore facere rem ab nemo possimus cum excepturi expedita. Culpa rerum, quaerat qui non.</p>#}
{#                                </div>#}
{#                                <!-- Quotation Icon -->#}
{#                                <div class="quot-icon">#}
{#                                    <img class="avatar-sm" src="assets/img/quote.png" alt="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- Reviewer -->#}
{#                            <div class="reviewer media mt-3">#}
{#                                <!-- Reviewer Thumb -->#}
{#                                <div class="reviewer-thumb">#}
{#                                    <img class="avatar-lg radius-100" src="assets/img/avatar/avatar-3.png" alt="">#}
{#                                </div>#}
{#                                <!-- Reviewer Media -->#}
{#                                <div class="reviewer-meta media-body align-self-center ml-4">#}
{#                                    <h5 class="reviewer-name color-primary mb-2">Md. Arham</h5>#}
{#                                    <h6 class="text-secondary fw-6">CEO, Themeland</h6>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <!-- ***** Review Area End ***** -->#}

        <!--====== Call To Action Area Start ======-->
        {% include 'call-to-action.html' %}
        <!--====== Call To Action Area End ======-->

{% endblock %}
